name: Deploy to EC2

on:
  push:
    branches: ["ec2-deployment"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /frauds-backend
            git fetch --all
            git reset --hard origin/ec2-deployment
            source venv/bin/activate
            pip install -r requirements.txt
            bash /home/ubuntu/restart_backend.sh
